{% extends 'base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}


    <div class="jumbotron">
        <h1 class="display-4"><img src="{% static 'png/seada_logo.png' %}" alt="" width="184" height="55" title="home"></h1>
        <p class="lead">Sistema de Extracción y Análisis de Datos de fuentes Abiertas</p>
        <hr class="my-4">
        <p>This is the analysis web application for SEADA project</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>Dashboard</h2>
                <p>Dashboard with graphic about users, tweets, followers, friends and favorites information.</p>
                <p><a class="btn btn-secondary" href="{% url 'dashboard' %}" role="button">view details >></a></p>
            </div>
            <div class="col-md-4">
                <h2>Twitter Analysis Application</h2>
                <p>Application web for all twitter information about users and tweets.</p>
                <p><a class="btn btn-secondary" href="{% url 'twitter:twitter' %}" role="button">view details >></a></p>
            </div>
            <div class="col-md-4">
                <h2>Heading</h2>
                <p>Información importante</p>
                <p><a class="btn btn-secondary" href="#" role="button">view details >></a></p>
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-4">

            </div>
        </div>
    </div>


{% endblock %}