{% extends 'base_2col.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block main-content %}
    <h1>Compare Users</h1>
    <br/>

    <!-- Timeline user1 -->
    <!-- Content Row -->
    <div class="row">
        <!-- Area Chart -->
        <div class="col-lg">
            <div class="card shadow">
                <!-- card header -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Timeline for {{user1}} user</h6>
                </div>
                 <!-- card header -->
                <div class="card-body">
                    <div class="chart-area">
                        <!-- bar chart -->
                        <div id="time_line_container" style="width: 100%;">
                            <canvas id="time-line-chart" data-url="{% url 'time_line_data_v3' user1 %}"></canvas>
                        </div>
                        <script src="https://code.highcharts.com/highcharts.js"></script>
                        <script src="https://code.highcharts.com/modules/timeline.js"></script>
                        <script src="{% static 'dashboard/highcharts_timeline_v2.js' %}"></script>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br/>

    <!-- Time line user2 -->
    <!-- Content Row -->
    <div class="row">
        <!-- Area Chart -->
        <div class="col-lg">
            <div class="card shadow">
                <!-- card header -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Timeline for {{user2}} user</h6>
                </div>
                 <!-- card header -->
                <div class="card-body">
                    <div class="chart-area">
                        <!-- bar chart -->
                        <div id="time_line_container_2" style="width: 100%;">
                            <canvas id="time-line-chart_2" data-url="{% url 'time_line_data_v3' user2 %}"></canvas>
                        </div>
                        <script src="https://code.highcharts.com/highcharts.js"></script>
                        <script src="https://code.highcharts.com/modules/timeline.js"></script>
                        <script src="{% static 'dashboard/highcharts_timeline_user2.js' %}"></script>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br/>

    <!-- retweet network -->
    <!-- Content Row -->
    <div class="row">
        <!-- Area Chart -->
        <div class="col-lg">
            <div class="card shadow">
                <!-- card header -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Retweet grahp</h6>
                </div>
                 <!-- card header -->
                <div class="card-body">
                    <div class="chart-area">
                        <!-- bar chart -->
                        <div id="network_container" style="width: 100%;"></div>
                            <link rel="stylesheet" type="text/css" href="{% static 'dashboard/CSS/network.css' %}">
                            <canvas id="networkchart" data-url="{% url 'network_data' user1 user2 %}"></canvas>
                            <script src="https://d3js.org/d3.v4.min.js"></script>
                            <script src="https://d3js.org/d3-selection-multi.v1.js"></script>
                            <script src="{% static 'dashboard/network.js' %}"></script>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br/>

    <!-- barchart -->
    <!-- Content Row -->
    <div class="row">
        <!-- Area Chart -->
        <div class="col-lg">
            <div class="card shadow">
                <!-- card header -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Tweet and Retweets bar chart</h6>
                </div>
                 <!-- card header -->
                <div class="card-body">
                    <div class="chart-area">
                        <!-- bar chart -->
                        <div id="barchart_container" style="width: 50%;"></div>
                            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js" integrity="sha256-nZaxPHA2uAaquixjSDX19TmIlbRNCOrf5HO1oHl5p70=" crossorigin="anonymous"></script>
                            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js" integrity="sha256-8zyeSXm+yTvzUN1VgAOinFgaVFEFTyYzWShOy9w7WoQ=" crossorigin="anonymous"></script>
                            <canvas id="myChart" data-url="{% url 'bar_data' user1 user2 %}"></canvas>
                            <button id="addData">Add Data</button>
                            <button id="removeLastData">Remove last Data</button>
                            <button id="removeFirstData">Remove first Data</button>
                            <script src="{% static 'dashboard/compare_users_bar_chart.js' %}"></script>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
