{% extends 'base_2col.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block main-content %}
    <h1>Dashboard</h1>

    <!-- Content Row -->
    <div class="row">
        <!-- User card -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">{{ users_card_tittle }}</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ users_card_number }}</div>
                        </div>
                        <div class="col-auto">
                            <img src="{% static 'dashboard/svg/server.svg' %}" alt="" width="50" height="50" title="database">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Tweets card -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">{{ tweets_card_tittle }}</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ tweets_card_number }}</div>
                        </div>
                        <div class="col-auto">
                            <img src="{% static 'dashboard/svg/card-text.svg' %}" alt="" width="50" height="50" title="database">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Protected card -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">{{protected_users_card_tittle}}</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{protected_users_card_number}} %</div>
                        </div>
                        <div class="col-auto">
                            <img src="{% static 'dashboard/svg/shield-shaded.svg' %}" alt="" width="50" height="50" title="database">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Verified card -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">{{verified_users_card_tittle}}</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{verified_users_card_number}} %</div>
                        </div>
                        <div class="col-auto">
                            <img src="{% static 'dashboard/svg/person-check-fill.svg' %}" alt="" width="50" height="50" title="database">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





<!--    &lt;!&ndash; Content Row &ndash;&gt;-->
<!--    <div class="row">-->
<!--        &lt;!&ndash; Area Chart &ndash;&gt;-->
<!--        <div class="col-lg">-->
<!--            <div class="card shadow">-->
<!--                &lt;!&ndash; card header &ndash;&gt;-->
<!--                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">-->
<!--                    <h6 class="m-0 font-weight-bold text-primary">Timeline</h6>-->
<!--                </div>-->
<!--                 &lt;!&ndash; card header &ndash;&gt;-->
<!--                <div class="card-body">-->
<!--                    <div class="chart-area">-->
<!--                        &lt;!&ndash; bar chart &ndash;&gt;-->
<!--                        <div id="time_line_container" style="width: 100%;">-->
<!--                            <canvas id="time-line-chart" data-url="{% url 'time_line_data_v3' 'complejolambda' %}"></canvas>-->
<!--                        </div>-->
<!--                        <script src="https://code.highcharts.com/highcharts.js"></script>-->
<!--                        <script src="https://code.highcharts.com/modules/timeline.js"></script>-->
<!--                        <script src="{% static 'dashboard/highcharts_timeline_v2.js' %}"></script>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<!--    &lt;!&ndash; Content Row &ndash;&gt;-->
<!--    <div class="row">-->
<!--        &lt;!&ndash; Area Chart &ndash;&gt;-->
<!--        <div class="col-lg">-->
<!--            <div class="card shadow">-->
<!--                &lt;!&ndash; card header &ndash;&gt;-->
<!--                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">-->
<!--                    <h6 class="m-0 font-weight-bold text-primary">Timeline</h6>-->
<!--                </div>-->
<!--                 &lt;!&ndash; card header &ndash;&gt;-->
<!--                <div class="card-body">-->
<!--                    <div class="chart-area">-->
<!--                        &lt;!&ndash; bar chart &ndash;&gt;-->
<!--                        <div id="time_line_container_2" style="width: 100%;">-->
<!--                            <canvas id="time-line-chart_2" data-url="{% url 'time_line_data_v3' 'Victor_Fdz' %}"></canvas>-->
<!--                        </div>-->
<!--                        <script src="https://code.highcharts.com/highcharts.js"></script>-->
<!--                        <script src="https://code.highcharts.com/modules/timeline.js"></script>-->
<!--                        <script src="{% static 'dashboard/highcharts_timeline_user2.js' %}"></script>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->






<!--    &lt;!&ndash; Content Row &ndash;&gt;-->
<!--    <div class="row">-->
<!--        &lt;!&ndash; Area Chart &ndash;&gt;-->
<!--        <div class="col-lg">-->
<!--            <div class="card shadow">-->
<!--                &lt;!&ndash; card header &ndash;&gt;-->
<!--                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">-->
<!--                    <h6 class="m-0 font-weight-bold text-primary">Timeline</h6>-->
<!--                </div>-->
<!--                 &lt;!&ndash; card header &ndash;&gt;-->
<!--                <div class="card-body">-->
<!--                    <div class="chart-area">-->
<!--                        &lt;!&ndash; bar chart &ndash;&gt;-->
<!--                        <div id="time_line_container" style="width: 100%;">-->
<!--                            <canvas id="time-line-chart" data-url="{% url 'time_line_data_v2' %}"></canvas>-->
<!--                        </div>-->
<!--                        <script src="https://code.highcharts.com/highcharts.js"></script>-->
<!--                        <script src="https://code.highcharts.com/modules/timeline.js"></script>-->
<!--                        <script src="{% static 'dashboard/highcharts_timeline_v2.js' %}"></script>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->



<!--    &lt;!&ndash; Content Row &ndash;&gt;-->
<!--    <div class="row">-->
<!--        &lt;!&ndash; Area Chart &ndash;&gt;-->
<!--        <div class="col-lg-6 mb-4">-->
<!--            <div class="card shadow mb-4">-->
<!--                &lt;!&ndash; card header &ndash;&gt;-->
<!--                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">-->
<!--                    <h6 class="m-0 font-weight-bold text-primary">Population-chart</h6>-->
<!--                </div>-->
<!--                &lt;!&ndash; card header &ndash;&gt;-->
<!--                <div class="card-body">-->
<!--                    <div class="chart-area">-->
<!--                        &lt;!&ndash; bar chart &ndash;&gt;-->
<!--                        <div id="container" style="width: 100%;">-->
<!--                            <canvas id="population-chart" data-url="{% url 'chart_data' %}"></canvas>-->
<!--                        </div>-->
<!--                        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>-->
<!--                        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>-->
<!--                        <script src="{% static 'dashboard/bar_chart.js' %}"></script>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-lg-6 mb-4">-->
<!--            <div class="card shadow mb-4">-->
<!--                &lt;!&ndash; card header &ndash;&gt;-->
<!--                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">-->
<!--                    <h6 class="m-0 font-weight-bold text-primary">matplotlib chart</h6>-->
<!--                </div>-->
<!--                &lt;!&ndash; card header &ndash;&gt;-->
<!--                <div class="card-body">-->
<!--                    <div class="chart-area">-->
<!--                        &lt;!&ndash; chart content&ndash;&gt;-->
<!--                        <img src="test/" width="600px" />-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->






<!--    <script src="{% static 'dashboard/hello.js' %}"></script>-->


    <!-- bar chart -->
<!--    <div id="container" style="width: 50%;">-->
<!--        <canvas id="population-chart" data-url="{% url 'chart_data' %}"></canvas>-->
<!--    </div>-->
<!--    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>-->
<!--    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>-->
<!--    <script src="{% static 'dashboard/bar_chart.js' %}"></script>-->

<!--     time line chart-->
<!--    <div id="container2" style="width: 100%;">-->
<!--		<canvas id="time_line_chart" data-url="{% url 'time_line_data' %}"></canvas>-->
<!--	</div>-->
<!--    <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>-->
<!--    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.js"></script>-->
<!--    <script src="{% static 'dashboard/timeline_chart2.js' %}"></script>-->






{% endblock %}