{% load static %}

<nav class="navbar navbar-expand navbar-dark bg-dark topbar">
  <img src="{% static 'png/seada_logo.png' %}" alt="" width="184" height="55" title="home">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
<!--        <a class="nav-link" href="/dashboard">Dashboard <span class="sr-only">(current)</span></a>-->
      </li>
    </ul>
  </div>
</nav>